.circle_reactGradientProgressPercentageSpan__1HdhL{
    margin-top: 5px;
    margin-left: 35px;
    color: white !important;
    background-color: #6A3EEA !important;
    width:27.74px !important;
    height:27.74px !important;
    border-radius:50%;
    font-size: 11px !important;

}